[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
opencv-contrib-python = {version = "*", index = "piwheels", platform_machine= "== 'armv7l'"}
opencv-contrib-python = {version = "*", index = "pypi", platform_machine= "!= 'armv7l'"}
"RPi.GPIO" = {version = "*", platform_machine= "== 'armv7l'"}
"picamera[array]" = {version = "*", index = "piwheels", platform_machine= "== 'armv7l'"}

[dev-packages]
matplotlib = {version = "*", index = "piwheels", platform_machine= "== 'armv7l'"}
ipykernel = {version = "*", platform_machine= "== 'armv7l'"}
pytest = "*"
pytest-cov = "*"
codecov = "*"
auto-scope = {editable = true, path = "."}
