<html>
<head>
    <script src="{{url_for('static', filename='js/jquery-2.2.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='js/rastercoords.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/scopy.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <h1>Tested</h1>
    <div id="llmap"></div>
    <script src="{{url_for('static', filename='js/scopy.js')}}"></script>
</body>
